@{
    ViewData["Title"] = "ELMA Quick Chat";
}

<link rel="stylesheet" href="~/css/reset.css">
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="~/css/style.css">

<script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.min.js"></script>
<script src="/signalr/hubs"></script>
<script src="~/lib/react/dist/react.js"></script>
<script src="~/lib/react-dom/dist/react-dom.js"></script>
<script src="~/components/components.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js'></script>

<div id ="container" class="container clearfix">
    

</div>
